.about-main{
      position: relative;
background: url('https://image3.mouthshut.com/images/Restaurant/Photo/-38505_8035.jpg') no-repeat center;
   background-size: cover;
  min-height: 30vh;
  z-index: 1;
}
