html,body {
  font-family: var(--fonts-family);
  overflow-x: hidden !important;
}
.my-primary{
    background-color: var(--bg-primary) !important;
    border-color:var(--bg-primary) !important;
}
.my-secondary{
    background-color: var(--bg-secondary) !important;
    border-color:var(--bg-secondary) !important;
}
a{
    text-decoration: none;
}
.view-sec{
    padding-top: 60px;
    padding-bottom: 60px;
}
.my-text{
    font-weight: 600;
}
.my-para{
color:#585c5f !important;

}

 .topbar .svg-inline--fa{
     
      color:white;
}
img{
     object-fit: cover;
}
.navbar .nav-link {
  font-size: 16px !important;
  padding: 20px 10px;
  display: inline-block;
  white-space: nowrap;
  margin-right: 10px;

}
.navbar .navbar-brand{
    font-size: 30px;
    
}

.card{
    box-shadow: var(--box-shadow);
   border:none;
  
}
.text-justify {
  text-align: justify;
}
h2{
    color: rgb(1, 41, 112);
    font-weight: 700;
}
.my-primary-color{
    color:var(--bg-primary)
}

.footer-bottom{
    background: rgba(255, 255, 255, 0.2);
border-radius: 16px;
box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
backdrop-filter: blur(5px);
-webkit-backdrop-filter: blur(5px);
border: 1px solid rgba(255, 255, 255, 0.3);
}

@media screen and (min-width: 972px) {
  .footer-start{
  
         position: relative;
         top:-200px;
         margin-bottom: -200px;
}


  
}
.card-img-top {
    width: 100%;
    height: 25vh;
    object-fit: cover;
}
.card-img-top1 {
    width: 100%;
    height: 30vh;
    object-fit: cover;
}
.card-img-top2 {
    width: 100%;
    height: 70vh;
    object-fit: cover;
}

.cc{
    color:rgb(43, 40, 40)
}
.my-white{
    color:white !important;
}