

.carousel{
position: relative;
top: 80px;
margin-bottom: -80px;
}

.carousel-inner {
     height: 75vh;

}

.carousel img {
      -webkit-filter: brightness(0.6);
    filter: brightness(0.6);



width: 100%;
  height: 100vh;

}


.main .card-ele{
    position: relative;
    top:-80px;
    bottom: 0;
    margin-bottom: -60px;
}
.modal .card-ele{
    position: relative;
    top:-50px;
    bottom: 0;
    margin-bottom: -50px;
}

.carousel-caption {
  position: absolute;
 top:32%

}
.overlay{
  position: absolute;

  width: 100%;
  height: 100%;
  top: 0;
  transform: scale(1.3);
  opacity: 0;
  transition: transform .4s ease 0s;
}



.zoom-img{
  border-radius: var(--bs-border-radius) !important;
  overflow: hidden;
   
}
.zoom-img img{
  border-radius: var(--bs-border-radius) !important;
  object-fit: cover;
  
}
.zoom-img:hover img{
  border-radius: var(--bs-border-radius) !important;
    transition: 0.5s;
    transform: scale(1.2);
}
.about .card:hover{


 filter: contrast(200%);
 filter: grayscale(100%);

  

}
.about .card:hover .about .card:hover img{
    -ms-transform: scale(1.15); /* IE 9 */
  -webkit-transform: scale(1.1); /* Safari 3-8 */
  transform: scale(1.1); 
   transition: transform .8s ease;
}
.about .card:hover .card-title ,.about .card:hover .card-text{
 color:white
}
@media screen and (min-width: 972px) {
    .main h1{
    font-weight:800;
    font-size:48px;
   
    
}
  #form{
  
         position: relative;
         top:75px;
         margin-bottom: 45px;
        
}
.g-map{

-webkit-clip-path: polygon(0% 15%, 0 0, 15% 0%, 85% 0%, 100% 0, 100% 15%, 100% 85%, 64% 86%, 67% 100%, 26% 100%, 28% 86%, 0% 85%); clip-path: polygon(0% 15%, 0 0, 15% 0%, 85% 0%, 100% 0, 100% 15%, 100% 85%, 64% 86%, 67% 100%, 26% 100%, 28% 86%, 0% 85%);

}


  
}
@media screen and (max-width:972px){
    .main img{
    
height: 85vh;

      
}

        .main h1{
    font-weight:800;
    font-size:38px;
   
    
}
    .carousel-caption {
  position: absolute;
  top: 32.5%;
}
.d-none {
  display: block !important;
}
 #form{
  
         position: relative;
         top:120px;
         margin-bottom: 120px;
        
}
    
}

.features h1{
    color: rgb(1, 41, 112);
    font-weight: 700;
}
.features h5{
     font-size: 18px;
    font-weight: 700;
    color: rgb(1, 41, 112);
}
.features i{
    font-size: 12px;
    font-weight: 1000;
    background-color: rgb(236, 243, 255);
    padding: 10px;
    margin: 10px;
    border-radius: 4px;
}
.features i:hover{
    background-color: rgb(102, 16, 242);
    color: white;
}
.feature-box{
    margin-top: 40px;
    margin-bottom: 40px;
}
.feature1 h2{
    font-size: 38px;
    font-weight: 700;
    color: rgb(1, 41, 112);
}
.feature1 h6{
    padding-top: 20px;
    font-size: 22px;
    color: rgb(7, 213, 192);
    font-weight: 600;
}
.feature1 .card .price .value{
    font-size: 32px;
    font-weight: 700;
}
.feature1 .card .price sup{
    font-size: 18px;
    font-weight: 700;
}
.feature1 .card ul{
    list-style: none;
    line-height: 2rem;
    font-size: "Open Sans", sans-serif;
}
.feature1 .plan2{
    padding-top: 20px;
    font-size: 22px;
    color: rgb(101, 198, 0);
    font-weight: 600;
}
.feature1 .plan3{
    padding-top: 20px;
    font-size: 22px;
    color: rgb(255, 144, 28);
    font-weight: 600;
}
.feature1 .plan4{
    padding-top: 20px;
    font-size: 22px;
    color: rgb(255, 0, 113);
    font-weight: 600;
}
.feature1 .card{
    border: none;
    border-radius: 4px;
  
    box-shadow: 0px 0px 30px 20px rgb(1 41 112 / 8%) !important;
    position: relative;
    overflow: hidden;

}
.feature1 .card:hover{
    box-shadow: 0px 0px 30px 30px rgb(1 41 112 / 8%) !important;
    transition: 0.5s;
    transform: scale(1.1);
}

.feature1 .Featured{
    background-color: rgb(65, 84, 241);
    color: white;
    width: 200px;
    position: absolute;
    top: 18px;
    right: -68px;
    transform: rotate(45deg);
    z-index: 1;
    font-size: 14px;
    padding: 1px 0 3px 0;
}
